//Custom vars
//Typography
$title-font: "Bebas Neue", sans-serif;
$text-font: "Noto Sans", sans-serif;

//Colors
$accent-color:#678F3F;
$black-color: #0b0b0b;
$white-color: #ffffff;
$wheat-color:wheat;
$secondary-accent-color: #FCB64D;

//Spacing params
$one-space:1em;
